#ItemInfo {
    margin-left: 2vw;
}

#remove-button {
    margin-left: 1vw;
    margin-top: 11vh;
    border: 1px solid #FFC490;
    padding: 5px;
    background-color: #FFC490;
    font-size: .9em;
    color: black;
    transition: background-color .2s;
}

#remove-button:hover {
    background-color: black;
    color: white;
}

#cardDisplay {
    display: flex;
    width: 35vw;
    flex-direction: row;
    padding: 80px;
    border: 2px solid #E9E9E9;
    background-color: #E9E9E9;
    margin-bottom: 2vh;
    margin-right: 2vw;
    transition: box-shadow .2s;
}

#cardDisplay:hover {
    box-shadow: 1px 1px 20px 10px black;
}