.card-div{
    display: grid;
    grid-template: 20vh/ 30% 70%;
    margin-bottom: 2vh;
    box-shadow: rgb(229 229 229) 0px 0px 0px 0px inset, rgb(229 229 229) 0px 0px 0px 0px inset, rgb(229 229 229) 0px -1px 0px 0px inset, rgb(229 229 229) 0px 0px 0px 0px inset;
}
.card-div h2{
    margin-bottom: 5vh;
}
.item-image{
    width: 50%;
    height: 70%;
    padding: 10%;
}
.info-div{
    display: flex;
    flex-direction: column;
}
.info-div-item{
    margin: 0;
}
.remove-button{
    margin-top: 1vh;
    width: 8.5%;
    height: 25%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 90px;
}
.remove-button:hover{
    transform: scale(1.2);
}
