#ItemInfo {
    margin-left: 2vw;
}

#cardDisplay {
    display: flex;
    flex-direction: row;
    padding: 80px;
    border: 2px solid #E9E9E9;
    background-color: #E9E9E9;
    margin-bottom: 2vh;
    margin-right: 2vw;
}