#SearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
  margin-top: 2vh;
  width: 60vh;
  height: 5vh;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  color: white;
  font-size: x-large;
}


.cards {
    list-style: none;
    margin-top: 10vh;
  }

  @media (min-width: 768px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#downbar {
  margin-top: 2vh;
  margin-left: 1vw;
  font-size: 1.4em;
  border-radius: 10px;
  padding: 2px;
}

@media (max-width: 768px) {
  #search {
    margin-left: -15vw;
    width: 40vw;
    font-size: .8em;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  #downbar {
    width: 40vw;
    font-size: .8em;
    padding: 5px;
  }
}

#productheader {
  display: flex;
  justify-content: center;
}