.card-display{
    display: grid;
    grid-template-columns: 20vw auto ;
    grid-template-rows: 5vh;
    height: 18vh;
}
.card-display h3{
    margin-left: 7vw;
}
#reviewInfo {
    margin-top: 7.5vh;
    margin-left: 40vw;
    margin-right: 5vw;
}
.rating-counter{
    margin-left: 7vw;
}