
#cartTitle {
    padding-left: 30px;
    padding-top: 1vh
}
.total-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.total-item{
    margin-left: auto;
}
.cart-container{
    display: grid;
    margin-top: 5vh;
    grid-template: 100vh /  20% 40% 30% 10%;
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
}
.cart-box{
    /* border: 2px solid black;
    background-color: red; */
}
.cart-items{
    display: flex;
    flex-direction: column;
}
.cart-checkout{
    margin-left: 2.5vw;
    height: 40%;
}
.cart-checkout p {
    font-size: large;
}
.cart-checkout button{
    margin-top: 2vh;
    margin-left: 15%;
    width: 70%;
    height: 20%;
    background-color: black;
    border-radius: 90px;
    color: white;
    font-size: x-large;

}
.cart-checkout button:hover{
    transform: scale(1.1);
}
#CartText{
    display: flex;
    flex-direction: row;
    font-family: "Playfair Display", serif;
}
#OrderSummary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFC490;
    width: 20vw;
    height: 38vh;
    border: 2px solid #FFC490;
}
#CheckoutButton {
    margin-top: 20px;
    text-align: center;
    width: 20vw;
    height: 7vh;
    border-radius: 5px;
    border: 2px solid rgb(62, 62, 62);
    background-color: rgb(62, 62, 62);
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    transition: background-color .2s;
}

#CheckoutButton:hover {
    background-color: black;
}

#payment {
    width: 60%;
    height: auto;
    margin-bottom: -1vh;
    margin-left: 7.7vw;
}

#paymentHere {
    margin-bottom: -2vh;
    margin-left: 14vw;
}

#ContinueShopping {
    margin-left: 76vw;
    display: fixed;
    margin-top: -10vh;
    width: 20vw;
    height: 7vh;
    border-radius: 5px;
    border: 2px solid rgb(164, 164, 164);
    background-color: white;
    font-size: 1.4em;
    color: black;
    font-weight: bold;
    transition: background-color .2s;
}

#ContinueShopping:hover {
    background-color:rgb(164, 164, 164);
}
#ItemDiv{
    display: flex;
    flex-direction: column;
    margin-right: 30vw;
}
