#cartTitle {
    padding-left: 30px;
    padding-top: 1vh
}


#CartText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
    font-family: "Playfair Display", serif;
}
@media (max-width: 768px) {
    #CartText{
        display: block;
    }
}

@media (max-width: 1500px) {
    #CartText{
        display: block;
    }
}

#OrderSummary {
    display: fixed;
    align-items: flex-start;
    background-color: #FFC490;
    width: 20vw;
    position: fixed;
    height: 38vh;
    padding: 15px;
    border-radius: 2px;
    margin-left: 30vw;
    border: 2px solid #FFC490;
}



#CheckoutButton {
    margin-top: 20px;
    text-align: center;
    width: 20vw;
    height: 7vh;
    border-radius: 5px;
    border: 2px solid rgb(62, 62, 62);
    background-color: rgb(62, 62, 62);
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    transition: background-color .2s;
}

#CheckoutButton:hover {
    background-color: black;
}

#payment {
    width: 60%;
    height: auto;
    margin-bottom: -1vh;
    margin-left: 7.7vw;
}

#paymentHere {
    margin-bottom: -2vh;
    margin-left: 14vw;
}

#ContinueShopping {
    margin-left: 76vw;
    display: fixed;
    margin-top: -10vh;
    width: 20vw;
    height: 7vh;
    border-radius: 5px;
    border: 2px solid rgb(164, 164, 164);
    background-color: white;
    font-size: 1.4em;
    color: black;
    font-weight: bold;
    transition: background-color .2s;
}

#ContinueShopping:hover {
    background-color:rgb(164, 164, 164);
}
#ItemDiv{
    display: flex;
    flex-direction: column;
    margin-right: 30vw;
}
