#background {
    background-image: url("../../public/Backgroundreal.png");
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    background-size: cover;
}

#LoginBox {
    border: solid;
    flex-direction: column;
    width: 30vw;
    height: 55vh;
    margin-left: 10vw;
    padding: 60px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
}

#Loginheader {
    font-size: 1.4em;
    margin-top: 8vh;
}

#Userinputs {
    width: 30vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2em;
}

#SubmitButton {
    margin-top: 20px;
    text-align: center;
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    background-color: #7CB442;
    font-size: 1.2em;
}

#Bottomtext {
    padding: 20px;
    margin-top: 8vh;
    margin-left: 21vw;
    opacity: 90%;
    font-size: 1.1em;
}
