.product-detail-container{
    display: grid;
    grid-template: 100vh / 75% 25%;
    height: 100%;
    width: 100%;
}
.product-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 8vh;
}
.product-detail img{
   width: 30%;
   height: 60%;
   margin-right: 5vw;
}
.product-detail-related{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: green;
}
.product-detail-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product-detail-right button{
    width: 50%;
    height: 50px;
    border-radius: 90px;
    border: none;
    background-color: black;
    color:  white;
    font-size: large;
}
.product-detail-right button:hover{
    transition: tranform 2s;
    transform: scale(1.05);
}
.review-container{
    display: block;
    width: 100%;
    height: 100%;
}
.review{
    background-color: red;
    border: 5px solid;
    width: 50%;
    height: 10%;
}
.add-review{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
}
.add-review button{
    width: 15vw;
    height: 5vh;
    border: none;
    border-radius: 90px;
    background-color: black;
    color: white;
    font-size: large;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.review-field{
    width: 30vh;
    height: 2.5vh;
    margin-top: 2vh;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .product-detail{
        display: block;
        margin-top: 10vh;
    }
    .product-detail img{
        margin: 0;
        margin-left: 25vw;
        width: 50%;
        height: 60%;
    }
}

#reviewline {
    width: 85%;
    color: gray;
}